<article class="user-card">
  <div class="img-container">

    <img class="person-photo-img" src="{{picUrl}}" width="100%" height="100%" />
    <p class="name">
      <a>{{name}}</a>
    </p>
    <p class="age">
      <a>{{age}}</a>
    </p>
  </div>
  <div class="user-bio">
    <p class="bio-text">
      {{bio}}
    </p>
  </div>
  <div class = "fav-button">
    <button class="favorite-button"><i class="fa fa-star"></i></button>
  </div>
    <div class = "fav-bool">
      {{fav}}
    </div>
</article>
